<div class="container">
  <div class="card" data-card="1" (click)="MakeMove(1)" [class.cardX] = "IsX(1)" [class.cardO]="IsO(1)" ></div>
  <div class="card" data-card="2" (click)="MakeMove(2)" [class.cardX] = "IsX(2)" [class.cardO]="IsO(2)"></div>
  <div class="card" data-card="3" (click)="MakeMove(3)" [class.cardX] = "IsX(3)" [class.cardO]="IsO(3)"></div>
  <div class="card" data-card="4" (click)="MakeMove(4)" [class.cardX] = "IsX(4)" [class.cardO]="IsO(4)"></div>
  <div class="card" data-card="5" (click)="MakeMove(5)" [class.cardX] = "IsX(5)" [class.cardO]="IsO(5)"></div>
  <div class="card" data-card="6" (click)="MakeMove(6)" [class.cardX] = "IsX(6)" [class.cardO]="IsO(6)"></div>
  <div class="card" data-card="7" (click)="MakeMove(7)" [class.cardX] = "IsX(7)" [class.cardO]="IsO(7)"></div>
  <div class="card" data-card="8" (click)="MakeMove(8)" [class.cardX] = "IsX(8)" [class.cardO]="IsO(8)"></div>
  <div class="card" data-card="9" (click)="MakeMove(9)" [class.cardX] = "IsX(9)" [class.cardO]="IsO(9)"></div>
</div>